@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);
body {
  margin: 0;
  line-height: 1.4;
  background: #E1E1E1;
}

.window {
  position: relative;
  display: block;
  margin: auto 0;
  border-radius: 3px;
  background: #F1F1F1;
}

.window .content {
    font-family: "Ek Mukta", sans-serif;
    padding: 67px 4% 0;
    text-align: justify;
    overflow: scroll;
    max-height: 100%;
    height: 100vh;
  }
  .window .content::-webkit-scrollbar {
    display: none;
  }
  .window .content h2 {
    margin-bottom: 0px;
    letter-spacing: 1px;
  }
  .window .content img {
    width: 95%;
    position: relative;
    display: block;
    margin: 75px auto 75px;
  }
  .window .content img:nth-of-type(2) {
    margin: 75px auto;
  }

  @media (max-width: 600px) {
    .window {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 0px;
    }
  }