<style>
/*HEADING*/
.heading {
    background-color: #147386;
}

.heading .container{
    
}

.heading__h1 {
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    font-weight: 600;
    font-family: 'Sailec';
    text-align: center;
    margin: 8px 0px;
}

@media only screen and (max-width: 768px) {
    .heading__h1 {
        font-size: 30px;
        line-height: 44px;
        margin: 17px 0px;    
	}
}


.color-tan {
    color: #B9AB9C;
}
/*HEADING*/
</style>

<!-- Heading -->
		<div class="heading">
        <div class="container">
            <div class="row">
                <h1 class="heading__h1">MD: The Number 1 Thing<br class="visible-xs"> Every  Woman<br class="hidden-xs">
                    Should Use<br class="visible-xs">  Instead of Moisturizer
                </h1>
            </div>
        </div>
