---
    const { modals, funnel } = Astro.props;
---

<style>
    [role="button"] {
        cursor: pointer;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn.active.focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn:active:focus,
    .btn:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn.focus,
    .btn:focus,
    .btn:hover {
        color: #333;
        text-decoration: none;
    }

    .btn.active,
    .btn:active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    .btn-default.active,
    .btn-default.focus,
    .btn-default:active,
    .btn-default:focus,
    .btn-default:hover,
    .open>.dropdown-toggle.btn-default {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    .btn-default.active,
    .btn-default:active,
    .open>.dropdown-toggle.btn-default {
        background-image: none;
    }

    .btn-default.disabled,
    .btn-default.disabled.active,
    .btn-default.disabled.focus,
    .btn-default.disabled:active,
    .btn-default.disabled:focus,
    .btn-default.disabled:hover,
    .btn-default[disabled],
    .btn-default[disabled].active,
    .btn-default[disabled].focus,
    .btn-default[disabled]:active,
    .btn-default[disabled]:focus,
    .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default,
    fieldset[disabled] .btn-default.active,
    fieldset[disabled] .btn-default.focus,
    fieldset[disabled] .btn-default:active,
    fieldset[disabled] .btn-default:focus,
    fieldset[disabled] .btn-default:hover {
        background-color: #fff;
        border-color: #ccc;
    }

    .btn-default .badge {
        color: #fff;
        background-color: #333;
    }

    .nudge .modal-dialog {
        max-width: 440px;
        margin: 15px auto;
    }

    @media (max-width: 767px) {
        .nudge .modal-dialog {
            width: auto;
            margin: 15px auto;
        }
    }

    @media (max-width: 480px) {
        .nudge .modal-dialog {
            width: auto;
            margin: 15px;
        }
    }

    .nudge .close {
        opacity: 1;
        position: relative;
        top: -12px;
        right: -12px;
        z-index: 1;
        max-width: 24px;
        width: 100%;
    }

    .nudge .close:focus,
    .nudge .close:hover {
        opacity: 1;
    }

    .close-nudge-modal {
        width: 24px;
        height: 24px;
        z-index: 1;
    }

    .modal-flex-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: rgba(17, 17, 17, 0.1);
        width: 100%;
        position: absolute;
    }

    .progress {
        background-image: url(https://sun-coast-sciences.imgix.net/trybioluna/progress%20bar.png?fit=max&auto=format);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25px;
    }

    .progress-title {
        line-height: 14px !important;
        font-size: 12px !important;
        font-family: 'Roboto', sans-serif !important;
        margin: 0;
        font-weight: 700 !important;
    }

    .nudge .modal-body {
        padding: 15px 45px;
    }

    @media (max-width: 375px) {
        .nudge .modal-body {
            padding: 15px;
        }
    }

    .nudge h2 {
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        margin: 30px auto 0px;
    }

    .nudge p {
        font-size: 18px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        line-height: 22px;
    }


    .nudge img {
        max-width: 218px;
        width: 100%;
        margin: auto;
        display: block;
    }

    .nudge .p__alt {
        font-size: 17px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        line-height: 20px;
        margin-top: 0;
    }

    .nudge ul {
        list-style: disc;
        margin-left: 40px;
        padding: 0;
        font-family: sans-serif;
    }

    .nudge li::marker {
        font-size: 22px;
    }

    .nudge li {
        font-size: 18px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 12px;
    }

    .nudge h3 {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        line-height: 22px;
    }

    @media (max-width: 375px) {
        .nudge .modal-body {
            padding: 15px;
        }

        .nudge h2 {
            font-size: 21px;
            line-height: 22px;
        }

        .nudge p {
            font-size: 17px;
        }

        .nudge h3 {
            font-size: 17px;
        }

        .nudge li {
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 10px;
        }

        .nudge .p__alt {}
    }

    .button-green,
    .button-red {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        white-space: normal;
        margin: auto;
        padding: 10px 15px;
        display: block;
        width: 100%;
        border-radius: 2px;
    }

    .button-green:hover,
    .button-red:hover {
        color: #fff;
        text-decoration: none;
        opacity: 0.8;
    }

    .button-green {
        background-color: rgb(31, 159, 22);
    }

    .button-red {
        background-color: rgb(197, 28, 13);
    }

    .modal-backdrop {
        background-color: unset;
    }

    .modal-backdrop.in {
        opacity: 0.5;
        background-color: #000;
    }
</style>

<style is:global>
    /* modals */

    #loading {
        display: none;
    }

    [role="button"] {
        cursor: pointer;
    }

    .modal-open {
        overflow: hidden;
    }

    .modal {
        display: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }

    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1050;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
    }

    .modal-content {
        position: relative;
        background-color: #fff;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        outline: 0;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
    }

    .modal-backdrop.fade {
        opacity: 0;
    }

    .modal-backdrop.in {
        opacity: 0.5;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16.42857143px;
    }

    .modal-header .close {
        margin-top: -2px;
    }

    .modal-title {
        margin: 0;
        line-height: 1.42857143;
    }

    .modal-body {
        position: relative;
        padding: 15px;
    }

    .modal-body p,
    .modal-body li {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }

    .modal-body a {
        color: #000;
    }

    .modal-body ul,
    .modal-body ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }

    .modal-body ol li {
        list-style: auto !important;
    }

    .modal-body ul li {
        list-style: disc !important;
    }

    .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }

    .modal-footer .btn+.btn {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .modal-footer .btn-group .btn+.btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block+.btn-block {
        margin-left: 0;
    }

    .modal-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll;
    }

    .close {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.2;
    }

    button.close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
    }

    .close:focus,
    .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5;
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 600px;
            margin: 30px auto;
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }

        .modal-sm {
            width: 300px;
        }
    }

    @media (min-width: 992px) {
        .modal-lg {
            width: 900px;
        }
    }

    /* end modals */
</style>


{ (modals.privacyPolicy == true) &&
(<div class="modal fade" id="privacy-policy" role="dialog" data-url="/privacy-policy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Privacy Policy</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>)
}

{ (modals.contactUs == true) &&
(<div class="modal fade" id="contact-us" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Contact Us</h4>
            </div>
            <div class="modal-body">
                <p>Never hesitate to reach out to our amazing Customer Happiness team!</p>
                <p><strong>Company</strong>: {funnel.company.name}, LLC</p>
                <p><strong>Phone Number</strong>: <a href={"tel:" + funnel.company.phone}>{funnel.company.phone}</a></p>
                <p><strong>Mail</strong>: <a href={"mailto:" + funnel.company.email}>{funnel.company.email}</a></p>
            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>)
}

{ (modals.termsConditions == true) &&
(<div class="modal fade" id="terms-conditions" role="dialog" data-url="/terms">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Terms & Conditions</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>)
}

{ (modals.processing == true) && (
<div style="display: none;" class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img class="icon"
                        src="https://d1p10q174zjo77.cloudfront.net/template/order/img/processing-animation.gif"
                        alt="Processing Icon" loading="lazy" />
                    <h4>Processing...</h4>
                </div>
            </div>
        </div>
    </div>
</div>)
}

{ (modals.nudge_three == true) && (
<div class="modal nudge" id="try-3" role="dialog">
    <div class="modal-dialog">
        <button class="close" type="button" data-dismiss="modal">
            <img src="https://sun-coast-sciences.imgix.net/trybioluna/x.png?fit=max&auto=format"
                class="close-nudge-modal" alt="Close Modal">
        </button>
        <div class="modal-content">
            <div class="modal-flex-row">
                <div class="col-xs-6 progress">
                </div>
                <div class="col-xs-6">
                    <p class="progress-title">ALMOST THERE!</p>
                </div>
            </div>
            <div class="modal-body">
                <h2>Would You Like To Unlock Bigger Savings?</h2>

                <p>Remember, BioLuna doesn't knock you out! Instead, it will gently neutralize your sleep blockers in
                    45-90 days. So I'd love you to try a bigger package, to get its full effects.</p>

                <h3>Try Three Bottles Instead?</h3>

                <ul>
                    <li>Pay only $39.00 per bottle</li>
                    <li>Free shipping</li>
                    <li>1 Year of Purchase Protection</li>
                </ul>

                <a href="/order/3-bottles" class="button-green">Sure, I'II Try Three Bottles!</a>

                <h3 class="text-center">Or...</h3>

                <a href="/order/1-bottle" class="button-red">No Thanks, I'lI Stick With 1 Bottle</a>
                <br>
                <img src="https://sun-coast-sciences.imgix.net/trybioluna/fivestars.jpg?fit=max&auto=format" alt="">

                <p class="p__alt">"This is the first natural sleep product I've used that actually worked. It took about
                    a month but I'm so glad I was patient. Sleeping SO much better now, THANK YOU Dr. Rosenberg!"</p>
            </div>
        </div>
    </div>
</div>)
}

{ (modals.nudge_six == true) && (
<div class="modal nudge" id="try-6" role="dialog">
    <div class="modal-dialog">
        <button class="close" type="button" data-dismiss="modal">
            <img src="https://sun-coast-sciences.imgix.net/trybioluna/x.png?fit=max&auto=format"
                class="close-nudge-modal" alt="Close Modal">
        </button>
        <div class="modal-content">
            <div class="modal-flex-row">
                <div class="col-xs-6 progress">
                </div>
                <div class="col-xs-6">
                    <p class="progress-title">ALMOST THERE!</p>
                </div>
            </div>
            <div class="modal-body">
                <h2>Would You Like To Unlock Bigger Savings?</h2>

                <p>Remember, BioLuna doesn't knock you out! Instead, it will gently neutralize your sleep blockers in
                    45-90 days. So I'd love you to try a bigger package, to get its full effects.</p>

                <h3>Try Six Bottles Instead?</h3>

                <ul>
                    <li>Pay only $33.00 per bottle</li>
                    <li>Free shipping</li>
                    <li>1 Year of Purchase Protection</li>
                </ul>

                <a href="/order/6-bottles" class="button-green">Sure, I'II Try Six Bottles!</a>

                <h3 class="text-center">Or...</h3>

                <a href="/order/3-bottles" class="button-red">No Thanks, I'lI Stick With 3 Bottles</a>
                <br>
                <img src="https://sun-coast-sciences.imgix.net/trybioluna/fivestars.jpg?fit=max&auto=format" alt="">

                <p class="p__alt">"This is the first natural sleep product I've used that actually worked. It took about
                    a month but I'm so glad I was patient. Sleeping SO much better now, THANK YOU Dr. Rosenberg!"</p>
            </div>
        </div>
    </div>
</div>)
}


<script is:inline>
    document.addEventListener('DOMContentLoaded', async () => {
        /**
         * Opens a modal window.
         * @param {string|Element} targetOrSelector - The target element or the selector string for the modal.
         */

        // @ts-ignore
        window.openModal = async function (targetOrSelector) {
            var modalSelector;
            if (typeof targetOrSelector === 'string') {
                modalSelector = targetOrSelector;
            } else {
                var href = targetOrSelector.getAttribute("href");
                modalSelector = targetOrSelector.getAttribute("data-target") || (href && href.replace(/.*(?=#[^\s]+$)/, ""));
            }

            var modal = document.querySelector(modalSelector);
            if (modal) {
                modal.classList.add('in');
                modal.style.display = 'block';
                document.body.classList.add("modal-open");


                if (modal.getAttribute('data-url')) {
                    const modalBody = modal.querySelector('.modal-body');
                    const url = modal.getAttribute('data-url');

                    try {
                        const response = await fetch(url);
                        if (!response.ok) {
                            throw new Error(`Failed to fetch: ${response.statusText}`);
                        }
                        const html = await response.text();
                        modalBody.innerHTML = html;
                    } catch (error) {
                        console.error('Error loading content:', error);
                        modalBody.innerHTML = '<p>Error loading content. Please try again later.</p>';
                    }
                }



                var backdrop = document.createElement("div");
                backdrop.className = "modal-backdrop fade in";
                backdrop.setAttribute('data-dismiss', 'modal');  // Set data-dismiss attribute for the backdrop
                document.body.appendChild(backdrop);
            }
        };

        /**
         * Closes a modal window.
         * @param {string|Element} targetOrSelector - The target element or the selector string for the modal.
         */
        // @ts-ignore
        window.closeModal = function (targetOrSelector) {
            var modal;

            // Disable modal closing functionality during processing
            if (targetOrSelector.id === 'processing-modal') {
                return
            }

            if (typeof targetOrSelector === 'string') {
                modal = document.querySelector(targetOrSelector);
            } else {
                modal = targetOrSelector.closest('.modal');
            }

            if (modal) {
                document.querySelectorAll('.modal-backdrop').forEach(function (backdrop) {
                    backdrop.parentNode.removeChild(backdrop);
                });

                modal.classList.remove('in');
                modal.style.display = 'none';
                document.body.classList.remove('modal-open');
            }
        };

        /**
         * Event listener for opening modals.
         */
        document.addEventListener("click", function (event) {
            var target = event.target.closest('[data-toggle="modal"]');
            if (target) {
                event.preventDefault();

                window.openModal(target);
            }
        });

        /**
         * Event listener for closing modals.
         */
        document.addEventListener("click", function (event) {
            if (event.target.getAttribute('data-dismiss') === 'modal') {
                event.preventDefault();
                var modal = event.target.closest('.modal');
                window.closeModal(modal);
            }
        });

        /**
         * Event listener for closing modals when clicking outside modal content.
         */
        document.querySelectorAll('.modal').forEach(function (modal) {
            modal.addEventListener("click", function (event) {
                if (!event.target.closest(".modal-content")) {
                    window.closeModal(modal);
                }
            });
        });
    });
</script>