---
const {header , funnel}  = Astro.props;
---

<style>
.header {
    border-top: 3px solid rgba(0, 0, 0, .14);
    border-bottom: 3px solid rgba(0, 0, 0, .14);
    background-color: #e5f4fc
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 90px;
    width: 100%;
}

.header__contact {
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: 'Domine', sans-serif;
    color: #2e2e2e;
    font-size: 16px;
    text-align: right
}

.header__menu {
    margin-top: 23px;
    margin-bottom: 10px;
    float: none;
    border-top: 1px none #000;
    color: rgba(47, 47, 47, .86);
    font-size: 16px;
    font-weight: 700;
    text-align: right
}

.header__menu-link {
    display: inline;
    color: rgba(47, 47, 47, .86);
    text-decoration: none
}

.header__menu-link:hover {
    color: #013a5d;
    text-decoration: none
}

.header__menu-link:active {
    color: hsla(84.86486486486488, 45.68%, 52.35%, 1.00)
}

.header__menu-link:focus {
    color: #013a5d
}

.header__menu-link:visited {
    color: rgba(47, 47, 47, .86);
    font-style: normal;
    text-decoration: none
}

@media (max-width: 992px) {
    .mobile-center {
        text-align: center
    }
    .logo {
        text-align: left
    }
    .header__contact {
        text-align: center
    }
    .header__menu {
        display: none
    }
}
</style>

<div class="header">
    <div class="container">
        <div class="row flex-row">
            <div class="col-md-6 col-xs-12 mobile-center">
                <a href="/"><img src={funnel.company.logo + "&w=90"} alt={funnel.company.name} class="logo"></a>
            </div>
            <div class="col-md-6 col-xs-12">
            </div>
        </div>
    </div>
</div>