<style>
    /* PROMISE */

    .promise {
        margin: 20px auto;
        margin-bottom: 40px;
    }

    .promise__h2 {
        font-family: 'PT Sans', sans-serif;
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        color: #0c426d;
        margin: 10px 0;
        margin-bottom: 50px;
        text-align: center;
        background: #0c426d;
        height: 1px;
    }


    .promise__h2 span {
        padding: 0 30px;
        background: #fff;
        position: relative;
        top: -20px;
    }

    .promise__p {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 23px;
        line-height: 28px;
        margin: 15px 0 25px 0;
        font-weight: 700;
    }

    @media (min-width: 768px) {
        .promise__p {
            font-size: 19px;
            line-height: 23px;
            font-weight: 700;
        }
    }

    /* END PROMISE  */
</style>


<!-- PROMISE -->

<section class="promise">
    <div class="container">
        <div class="row">
            <h2 class="promise__h2"><span>Pure Potency, with Zero Allergens</span></h2>
        </div>
        <div class="row flex-row">
            <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5 col-sm-2">
                <img class="img-responsive center-block"
                    src="https://sun-coast-sciences.imgix.net/gluten-free.png?fit=max&auto=format&w=27" width="27"
                    alt="Gluten Free" loading="lazy">
                <p class="promise__p">Gluten Free</p>
            </div>
            <div class="col-xs-5 col-sm-2">
                <img class="img-responsive center-block"
                    src="https://sun-coast-sciences.imgix.net/soy-free.png?fit=max&auto=format&w=27" width="27"
                    alt="Soy Free" loading="lazy">
                <p class="promise__p">Soy Free</p>
            </div>
            <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5 col-sm-2">
                <img class="img-responsive center-block"
                    src="https://sun-coast-sciences.imgix.net/cruelty-free.png?fit=max&auto=format&w=27" width="27"
                    alt="Cruelty Free" loading="lazy">
                <p class="promise__p">Cruelty Free</p>
            </div>
            <div class="col-xs-5 col-sm-2">
                <img class="img-responsive center-block"
                    src="https://sun-coast-sciences.imgix.net/dairy-free.png?fit=max&auto=format&w=27" width="27"
                    alt="Dairy Free" loading="lazy">
                <p class="promise__p">Dairy Free</p>
            </div>
            <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5 col-sm-2">
                <img class="img-responsive center-block"
                    src="https://sun-coast-sciences.imgix.net/shellfish-free.png?fit=max&auto=format&w=27" width="27"
                    alt="Shellfish Free" loading="lazy">
                <p class="promise__p">Shellfish Free</p>
            </div>
            <div class="col-xs-5 col-sm-2">
                <img class="img-responsive center-block"
                    src="https://sun-coast-sciences.imgix.net/nut-free.png?fit=max&auto=format&w=27" width="27"
                    alt="Nut Free" loading="lazy">
                <p class="promise__p">Nut Free</p>
            </div>
        </div>
    </div>

</section>

<!-- PROMISE -->