---
const { testimonials } = Astro.props
---

<style is:global>
    /* TESTIMONIALS START */
    .test__h1 {
        font-size: 40px;
        font-family: 'Lato', sans-serif;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
    }
    
    .customer__name--first {
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 50%;
        background: #0c426d;
        text-align: center;
        color: #fff;
        font-family: 'PT Sans', sans-serif;
        font-size: 26px;
        font-weight: 700;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .review {
        margin-bottom: 40px;
        padding-left: 20px;
    }
    
    .customer__review--snippet {
        font-family: 'Lato', sans-serif;
        font-size: 26px;
        line-height: 31px;
        color: rgb(12, 66, 109);
        font-weight: 600;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .stars {
        margin: auto;
    }
    
    .customer__review {
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        margin: 12px 0;
        text-align: center;
    }
    
    .customer__name--full {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        line-height: 29px;
        color: rgb(12, 66, 109);
        font-weight: 500;
        text-align: center;
    }
    
    @media (min-width: 768px) {
        .test__h1 {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    
        .customer__review--snippet, .customer__review, .customer__name--full {
            text-align: left;
        }
    
        .stars {
            margin: unset;
        }
    
        .customer__name--first {
            float: right;
        }
    
        .customer__review--snippet {
            font-size: 22px;
            line-height: 26px;
            font-weight: 600;
        }
    
        .customer__review {
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
        }
    
        .customer__name--full {
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
        }
    }
    
    .review-disclaimer {
        text-align: center;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 150%;
        color: #4A6164;
        max-width: 800px;
        margin: auto;
        padding: 20px;
    }
    
    /*  TESTIMONIALS END  */    
</style>


<!-- TESTIMONIALS -->

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="test__h1">BioLuna <br>Customer Testimonials</h2>
            </div>
        </div>
        <div class="row" id="testimonials">                                
            
        </div>

        <div class="row">
            <p class="review-disclaimer">Every individual is unique. As such, your results can and will vary. These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease or illness.</p>
        </div>
    </div>
</section>

<!-- END TESTIMONIALS -->
<script is:inline define:vars={{ testimonials }}>
    window.testimonials = testimonials
</script>
<script>

document.addEventListener("DOMContentLoaded", function() {
    var testimonialsContainer = document.getElementById('testimonials');

    // @ts-ignore
    testimonials.forEach(function(testimonial) {
        var nameDiv = document.createElement('div');
        nameDiv.className = 'col-xs-12 col-md-offset-1 col-md-2 col-sm-2';
        nameDiv.innerHTML = '<div class="customer__name--first">' + testimonial.name + '</div>';
        
        var reviewDiv = document.createElement('div');
        reviewDiv.className = 'col-xs-12 col-sm-10 col-md-9 review';
        reviewDiv.innerHTML = '<div class="customer__review--snippet">' + testimonial.title + '</div>' +
                              '<img src="https://sun-coast-sciences.imgix.net/5-star-rating.png?fit=max&auto=format" width="111" alt="5 Star Rating" class="img-responsive stars" loading="lazy">' +
                              '<p class="customer__review">' + testimonial.review + '</p>' +
                              '<div class="customer__name--full">' + testimonial.name + ', ' + testimonial.location + '</div>';

        testimonialsContainer.appendChild(nameDiv);
        testimonialsContainer.appendChild(reviewDiv);
    });

    document.querySelectorAll('.customer__name--first').forEach(function(element) {
        var firstChar = element.textContent.charAt(0);
        element.textContent = firstChar;
    });
});

</script>