---
const { footer , funnel } = Astro.props
---

<style is:global>
.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
    border-top: 1px solid #e6e6e6;
    text-align: center;
}
.footer__text{
    float: left;
    width: 100%;
    font-size:16px;
    line-height:30px;
    color: #3a3a3a;
    letter-spacing: 0.2px;
}
.footer__text a{
    color: #3a3a3a;
    padding:0 5px;
}

@media only screen and (max-width:991px){
    .footer{margin-top:30px;}
    .footer__text{font-size:15px; line-height:26px;}
}

@media only screen and (max-width:767px){
    .footer{ float: left; position: static; padding: 15px 0 20px; margin-top: 0px;}
    .footer__logo{width:180px;}
    .footer__text{font-size:14px; line-height:20px; margin-top:5px;}
    .footer__text--2{margin-top:4px;}
}

</style>

{ (footer.enabled == true) &&
<!-- FOOTER -->
                
<p class="footer__text">© {funnel.company.name} <sup>&reg;</sup>. All Rights Reserved.</p>
<p class="footer__text">
    <a href="#terms-conditions" data-toggle="modal" data-target="#terms-conditions"> Terms &amp; Conditions </a> | <a href="#privacy-policy" data-toggle="modal" data-target="#privacy-policy">Privacy Policy</a> |
    <a href="#contact-us" data-toggle="modal" data-target="#contact-us">Contact Us</a>
</p>

<!-- FOOTER -->
}