---
    const { guarantee } = Astro.props
---

<style>
    .money-back {
        border: 1px solid #d7d7d7;
        padding: 15px 30px 25px;
        margin-top: 75px;
        text-align: center;
        border-radius: 10px;
        color: #141011;
        background: #e8e8e8;
    }

    .money-back img {
        margin-top: -80px;
    }

    .money-back h3 {
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
        margin-top: 20px;
    }

    .money-back p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
    }

    @media only screen and (max-width:1199px) {
        .money-back p {
            font-size: 17px;
            line-height: 24px;
        }
    }

    @media only screen and (max-width:991px) {
        .money-back {
            padding: 15px 15px 20px;
        }

        .money-back img {
            width: 135px;
            margin-top: -70px;
        }

        .money-back h3 {
            font-size: 21px;
            line-height: 26px;
            margin-top: 15px;
        }

    }
</style>

{ (guarantee.enabled == true) &&
<div class="money-back">
    <img loading="lazy"
        src="https://sun-coast-sciences.imgix.net/checkout/images/money-back-seal.png?fit=max&auto=format&w=168&h=140"
        alt="money back seal" width="168" height="140" />
    <h3>You’re Protected With Our “You Have A Year To Decide” Guarantee</h3>
    <p>
        The investment that you’re about to make in your health is protected by our 365-day money-back guarantee. That
        means you have a full year to decide if this special formula is right for you. If at any point you decide
        that you’d like a refund, all you have to do is send us an email, at <a
            href="mailto:mail@suncoastsciences.com">mail@suncoastsciences.com</a>, or call us at <a
            href="tel:888-281-6816">888-281-6816</a>. You risk
        nothing when you get started today!
    </p>
</div>
}