---
    const { reviews } = Astro.props
---

<style>
    .reviews {
        margin-top: 30px;
    }

    .reviews__heading {
        font-size: 26px;
        line-height: 32px;
        font-weight: bold;
        border-bottom: 1px solid #c9c9c9;
        padding-bottom: 15px;
    }

    .reviews__box {
        margin-top: 30px;
        position: relative;
        padding-left: 72px;
        color: #141011;
    }

    .letter {
        width: 59px;
        height: 59px;
        border-radius: 50%;
        background: #007386;
        color: #fff;
        text-align: center;
        font-size: 25px;
        line-height: 59px;
        font-weight: 500;
        position: absolute;
        left: 0;
        top: 0;
    }

    .reviews__box h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .reviews__box img {
        margin-top: 8px;
    }

    .reviews__box p {
        font-size: 18px;
        line-height: 22px;
        margin-top: 12px;
    }

    .reviews__box span {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        display: block;
        margin-top: 15px;
    }

    .reviews__box small {
        font-size: 16px;
        line-height: 20px;
        color: #237506;
        display: block;
        margin-top: 3px;
    }

    @media only screen and (max-width:991px) {
        .reviews__box {
            padding-left: 55px;
        }

        .letter {
            width: 45px;
            height: 45px;
            font-size: 20px;
            line-height: 45px;
        }

        .reviews__box h3 {
            font-size: 18px;
            line-height: 22px;
        }

        .reviews__box p {
            font-size: 16px;
            line-height: 20px;
        }

    }
</style>

{ (reviews.enabled == true) &&
<div class="reviews">
    <p class="reviews__heading">Success Stories</p>
    <div class="reviews__box">
        <div class="letter">G</div>
        <h3>Rest and recharged</h3>
        <img loading="lazy"
            src="https://sun-coast-sciences.imgix.net/checkout/images/review-star.png?fit=max&auto=format&w=109&h=19"
            alt="review star" width="109" height="19" />
        <p>
            “Excellent I’m a fan of Bio Luna. Even though my tired body wanted rest . My brain would think , think ,
            think. Bio Luna allows my mind to relax and rest. So now I sleep longer and feel great in the morning.
            Thank you Suncoast.Great product!”
        </p>
        <span>Gloria D.</span>
        <small>Verified Buyer</small>
    </div>

    <div class="reviews__box">
        <div class="letter">M</div>
        <h3>Sleeping Well</h3>
        <img loading="lazy"
            src="https://sun-coast-sciences.imgix.net/checkout/images/review-star.png?fit=max&auto=format&w=109&h=19"
            alt="review star" width="109" height="19" />
        <p>
            “The combination in BioLuna is wonderful for a good nights rest. I recommend it to all my friends and they
            also say it’s the best help they have found to have a long nights sleep without being groggy in the
            morning.”
        </p>
        <span>Mona E.</span>
        <small>Verified Buyer</small>
    </div>
</div>
}