---
    /**
    * VSL 1.0.0
    */

    //
    import BaseLayout from './_layouts/BaseLayout.astro';

    // Modal
    import Modal from '../components/Modal.astro';
    import Banner from '../components/Banner.astro';
    import Header from '../components/Header.astro';
    import Footer from '../components/Footer.astro';

    import { FUNNEL } from "../funnel";

    const config = {
        meta: {
            title: "Proof & Fable",
            description: "Proof & Fable",
            keywords: "Proof & Fable",
        },
        modal: {
            privacyPolicy: true,
            contactUs: true,
            termsConditions: true,
            processing: false
        },
        banner: {
            enabled: false,
            text: "Surprise Spring Sale! Get Up To 53% OFF + Free Shipping"
        },
        header: {
            enabled: true,            
        },
        footer: {

        },
        funnel: FUNNEL
    }


    import '../css/grid.css';
    import '../css/normalize.css';
    import '../css/scaling.css';
    import '../css/style.css';
---

<BaseLayout meta={config.meta} funnel={ config.funnel }>
    <!-- Modal -->
    <Modal modals={config.modal} funnel={ config.funnel } />
    <!-- END Modal -->

    <div class="scale">
        <!-- SPECIAL BANNER -->
        <!-- <Banner banner={config.banner} /> -->
        <!-- SPECIAL BANNER -->
        <div class="window">
            <!-- HEADER -->
            <Header header={config.header}/>
            <!-- HEADER -->        
            <div class="content">            
                <h1>Register</h1>
                <form method="POST">
                  <label>
                    Username:
                    <input type="text" name="username" required />
                  </label>
                  <label>
                    Email:
                    <input type="email" name="email" required />
                  </label>
                  <label>
                    Password:
                    <input type="password" name="password" required minlength="6" />
                  </label>
                  <button>Submit</button>
                </form>
            </div>
          </div>        
    </div>

</BaseLayout>